@font-face {
  font-family: 'sfpro';
  src: url('../assets/fonts/SF-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  
body {
  font-family: 'MyFont', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, div, button{
  font-family: 'sfpro', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: white;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  background-color: rgba(25, 76, 183, 0.21);
  height: 60px;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  height: 50px;
}

.nav-links {
    list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
  margin-right: 10px;
}

.nav-links li a {
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav-links li a:hover {
  color:#344CB7;
}

.signin-btn {
  background-color: rgba(25, 76, 183, 0.32);
  border: 1.5px solid #344CB7;
  border-radius: 8.32px;
  padding: 9px 25px;
}

.signin-btn:hover {
  background-color: #344CB7;
}

.register-btn {
  background-color: #344CB7;
  border: none;
  border-radius: 8.32px;
  padding: 9px 25px;
  margin: 0px 9px;
}

.register-btn:hover {
  background-color: rgba(25, 76, 183, 0.32);
}

button {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  }
  
  .hamburger .bar {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
  }
  
  .hamburger.open .bar:nth-child(2) {
  opacity: 0;
  }
  
  .hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 8px;
  }
  
  /* Mobile-friendly adjustments */
  @media (max-width: 850px) {
    header {
      justify-content: center;
      padding: 20px 5%;
      height: 60px;
    }
  
    .nav-links {
      list-style: none;
      position: absolute; /* Position absolutely to the side */
      top: 60px; /* Adjust the distance from the top of the header */
      right: 10%; /* Place the dropdown to the right of the screen */
      background-color: rgba(25, 76, 183, 0.21); /* Add a background */
      width: 200px; /* Set a fixed width for the dropdown */
      display: none; /* Hidden by default */
      flex-direction: column; /* Arrange items vertically */
      padding: 10px 0;
    }
  
    .nav-links.open {
      display: flex; /* Show when menu is open */
    }
  
    .nav-links li {
      padding: 10px 0;
      width: 100%;
      text-align: center;
    }
  
    .srb {
      justify-content: center;
    }
  
    /* Show hamburger button on small screens */
    .hamburger {
      display: flex;
    }
  }